
@tailwind base;
@tailwind components;
@tailwind utilities;

.header .link {
    text-align: center;
}

.dropdown.active > .link,

.dropdown {
    position: relative;    
}

.dropdown-menu {
    position: absolute;
    background: black;
    left: 0;
    top: calc(100% + 0.25rem);
    padding: .75rem;
    border-radius: 0.25em;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    width: auto;

    display: flex;
    flex-direction: column;
}

.dropdown-menu a {
    margin-bottom: 1em;
}

.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}